@model HenriPriceCalculator.Models.ProductModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form action="Index">


        <p class="lead">
            <table class="text-primary">
                <tr>
                    <td class="text-primary"> Select Brand </td>
                    <td class="text-primary"> Supplier Price </td>
                    <td class="text-primary"> Shipping Volume </td>
                    <td>  </td>
                </tr>
                <tr>
                    <td class="text-primary" >   @Html.DropDownListFor(Model => Model.BrandName, new SelectList(Model.Brands))  </td>
                    <td> <input type="Text" name="txtP1" value="@Model.P1" /> </td>
                    <td> <input type="Text" name="txtM3" value="@Model.M3" /> </td>
                    <td> <input type="submit" value="Calculate RRP" class="btn btn-primary btn-sm" /> </td>
                </tr>
                <tr><td><label> </label>     </td></tr>
                <tr></tr>
                <tr></tr>
                @{
                    if (!string.IsNullOrEmpty(Model.Shipping) || !string.IsNullOrEmpty(Model.RRP))
                    {
                <tr>
                    <td class="text-primary h3 text-right"> RRP </td>
                    <td class="text-primary h3 table-bordered text-center"> @Model.RRP </td>
                    <td class="text-primary h4 text-right"> Shipping Cost  </td>
                    <td class="text-primary h3 table-bordered text-center">  @Model.Shipping   </td>
                </tr>
                    }
                }

            </table>



        </p>
     
    </form>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           .
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@