@model HenriPriceCalculator.Models.ProductModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form action="~/Home/Index">


        <p class="jumbotron">
            @*<table class="text-primary">
                >
                <td class="text-primary col-md-1"> Select Brand </td>
                <td class="text-primary col-md-1"> Supplier Price </td>
                <td class="text-primary col-md-1"> Shipping Volume </td>
                <td>  </td>
                </tr>
                <tr>
                    <td class="text-primary col-md-1">@Html.DropDownListFor(Model => Model.BrandName, new SelectList(Model.Brands))  </td>
                    <td class="text-primary col-md-1"><input type="Text" name="txtP1" value="@Model.P1" /> </td>
                    <td class="text-primary col-md-1"><input type="Text" name="txtM3" value="@Model.M3" /> </td>
                    <td class="text-primary col-md-1"><input type="submit" value="Calculate RRP" class="btn btn-primary btn-sm" /> </td>
                </tr>
                <tr><td><label> </label>     </td></tr>
                <tr></tr>
                <tr></tr>
                @{
                    if (!string.IsNullOrEmpty(Model.Shipping) || !string.IsNullOrEmpty(Model.RRP))
                    {
                        <tr>
                            <td class="text-primary h3 text-right col-md-1"> RRP </td>
                            <td class="text-primary h3 table-bordered text-center col-md-1"> @Model.RRP </td>
                            <td class="text-primary h4 text-right col-md-1"> Shipping Cost  </td>
                            <td class="text-primary h3 table-bordered text-center col-md-1">  @Model.Shipping   </td>
                        </tr>
                    }
                }

            </table>*@

            <div class="row">
                <div class="text-primary col-md-3">
                    Select Brand
                    @Html.DropDownListFor(Model => Model.BrandName, new SelectList(Model.Brands))
                </div>
                <div class="text-primary col-md-3">
                    Supplier Price
                    <input type="Text" name="txtP1" value="@Model.P1" />
                </div>
                <div class="text-primary col-md-3">
                    Shipping Volume
                    <input type="Text" name="txtM3" value="@Model.M3" />
                </div>
                <div class="text-primary col-md-1">
                                               <br />     
                    <input type="submit" value="Calculate RRP" class="btn btn-primary btn-sm" />
                </div>

            </div>
            <div class="row ">
                <div class="text-primary col-md-3">
           
                </div>
                <div class="text-primary col-md-3">
                   
                </div>
                <div class="text-primary col-md-3">
                   
                </div>
                <div class="text-primary col-md-3">
                   
                </div>
            </div>
            <div class="row">
                @{
                        if (!string.IsNullOrEmpty(Model.Shipping) || !string.IsNullOrEmpty(Model.RRP))
                        {
                <div class="text-primary col-md-3 h3">
                    RRP =  @Model.RRP <br />
                                      <div class="h5">
                                          Shipping Cost = @Model.Shipping
                                      </div>
                </div>                        
                        }
                    }
            </div>
            <div class="row">

            </div>

        </p>
     
    </form>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           .
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@